/* Estilo general del cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    color: #1a2a6c;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a2a6c;
    padding: 20px;
    position: relative;
    color: #ffffff;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

/* Menú de hamburguesa */
.hamburger-menu {
    width: 30px;
    cursor: pointer;
    display: block;
}

.hamburger-menu .bar {
    height: 4px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Navegación para móviles */
nav#nav-links {
    display: none; /* Oculto por defecto en móviles */
    background-color: #1a2a6c; /* Color de fondo azul oscuro */
    color: #ffffff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10; /* Asegura que el menú esté sobre otros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de sobreposición */
}

nav#nav-links.show-menu {
    display: block; /* Muestra el menú al activar esta clase */
}

nav#nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav#nav-links li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

nav#nav-links a {
    text-decoration: none;
    color: #ffffff; /* Color de texto blanco */
    font-weight: bold;
    display: block;
}
/* Estilos para cambiar el icono del menú a una X al abrir */
.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Banner principal */
.main-banner {
    text-align: center;
    padding: 20px;
}

.main-banner img {
    width: 100%;
    border-radius: 8px;
}

.main-banner h3 {
    font-size: 1.5rem;
    color: #1a2a6c;
    margin-top: 10px;
}

/* Sección About Us */
.about-us {
    padding: 20px;
}

.about-us h2 {
    font-size: 1.8rem;
    color: #1a2a6c;
    text-align: center;
}

.about-us p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 15px;
}

/* Imagen adicional */
.additional-image {
    padding: 20px;
    text-align: center;
}

.additional-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.additional-image figcaption {
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: #1a2a6c;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}