/* Variables globales */
:root {
    --primary-color: #FFD100; /* Amarillo bandera de Ecuador */
    --secondary-color: #0033A0; /* Azul bandera de Ecuador */
    --accent-color: #FF0000; /* Rojo para títulos de datos y clima */
    --text-color: #333; /* Color de texto principal */
    --background-light: #f0f0f0;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Merriweather', serif;
}

body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    background-color: var(--background-light); /* Fondo claro */
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo el contenido en la pantalla */
}

.container {
    width: 100%;
    max-width: 600px; /* Limitar el ancho máximo en pantallas pequeñas */
    padding: 0;
}

/* Estilo del header e imagen en vista móvil */
header.hero {
    text-align: center;
    padding: 10px;
    position: relative;
}

header.hero img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados */
    
}

header.hero h1 {
    font-family: var(--font-secondary);
    color: var(--text-color);
    font-size: 1.8em;
    margin-top: 10px;
}

/* Cuadro de datos y clima para móviles */
.data-weather {
    display: flex;
    flex-direction: column; /* Columnas para móviles */
    justify-content: center;
    align-items: center; /* Centrar cuadros y textos */
    padding: 15px;
    width: 100%;
    max-width: 600px; /* Limitar el ancho máximo */
    margin-top: 10px;
}

.data, .weather {
    width: 90%; /* Para dejar un margen alrededor de los cuadros */
    background-color: white;
    border-radius: 12px; /* Bordes redondeados */
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.data h2, .weather h2 {
    font-family: var(--font-secondary);
    color: var(--accent-color); /* Títulos en rojo */
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center; /* Centrar los títulos */
}

/* Lista de datos */
.data ul {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Alinear el contenido a la izquierda */
}

.data li, .weather p {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Estilo del pie de página */
footer {
    background-color: var(--secondary-color); /* Azul */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: var(--font-primary);
    width: 100%;
    max-width: 600px; /* Limitar el ancho del pie de página */
    margin-top: 20px;
    border-radius: 0 0 12px 12px; /* Bordes redondeados solo abajo */
}

footer p {
    margin: 0;
}

/* Media query para ajustar el diseño en pantallas pequeñas */
@media (max-width: 600px) {
    header.hero h1 {
        font-size: 1.5em; /* Ajustar el tamaño del título en pantallas pequeñas */
    }

    .data, .weather {
        padding: 10px; /* Reducir el padding en pantallas pequeñas */
    }

    footer {
        padding: 10px;
    }
}