/* General Body Style */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #1a2a6c;
    background-color: #ffffff;
}

/* Main */
main {
    flex: 1;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a2a6c;
    padding: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin: 0;
    font-size: 2em;
}

/* Navigation for Large Screens */
nav#nav-links {
    display: flex;
    justify-content: center; /* Centrar la barra de navegación */
    align-items: center;
    flex: 1;
}

nav#nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centrar los elementos dentro de ul */
    gap: 15px;
    padding: 0;
    margin: 0;
}

nav#nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: inline-block;
    text-align: center;
    min-width: 100px; /* Tamaño mínimo para un botón de aspecto consistente */
}

nav#nav-links a:hover {
    background-color: #141413;
}

/* Hide Hamburger Menu in Large Screens */
.hamburger-menu {
    display: none;
}

/* Main Banner for Full Screen */
.main-banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main-banner h3 {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    border-radius: 8px;
    color: #1a2a6c;
    font-size: 1.5em;
}

/* Service Section for Large Screens */
.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.service {
    margin: 0 20px;
}

/* Footer */
footer {
    background-color: #1a2a6c;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Responsive Images */
figure img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
}

figcaption {
    color: #555;
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
    padding-top: 5px;
}

/* Media Query for Extra Large Screens */
@media (min-width: 1440px) {
    .main-banner, .services {
        max-width: 1800px;
    }
}

@media (min-width: 2000px) {
    .main-banner, .services {
        max-width: 2000px;
    }

    h1 {
        font-size: 2.5em;
    }

    nav#nav-links a {
        font-size: 1.2em;
    }

    .main-banner h3 {
        font-size: 2em;
    }

    .service {
        font-size: 1.2em;
    }
}